<body>
    <div class="container">
        <input id="searchbar" type="text" class="form-control" placeholder="Search for...">
      <div id="results" class="container-fluid"></div>
      <div id="player"></div>
    </div>

<%= @track.artists[0].name %>

</body>


