<body>
    <div class="container">
      <div class="input-group">
        <input id="searchbar" type="text" class="form-control" placeholder="Search for...">
      </div>
      <div id="results" class="container-fluid"></div>
      <div id="player"></div>
    </div>

</body>


